<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394891833741-bn6p651299pjl9dj06898e49docr521g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394891833741-bn6p651299pjl9dj06898e49docr521g</string>
	<key>API_KEY</key>
	<string>AIzaSyCr7TTmhyeQstY5h7hj8K-sxsPw3h5acPA</string>
	<key>GCM_SENDER_ID</key>
	<string>394891833741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>aloe-6047f</string>
	<key>STORAGE_BUCKET</key>
	<string>aloe-6047f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394891833741:ios:acf1fe9f057f9d9e188dc4</string>
</dict>
</plist>